*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.75rem;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input, textarea, select {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

// .ant-select-dropdown {
//   background-color: #1A1A1F !important;
//   border: 1px solid #333 !important;
  
//   .ant-select-item {
//     color: #fff !important;
//     background-color: #1A1A1F !important;
//   }
  
//   .ant-select-item-option-selected {
//     background-color: #007bff !important;
//   }
  
//   .ant-select-item-option-active {
//     background-color: #333 !important;
//   }
// }